[display]
viewport=1920x1080

[gource]
key=true
start-date=2024-07-13
seconds-per-day=1.25
user-image-dir=C:\GourceProject\users
colour-images=false
multi-sampling=1
camera-mode=overview
filename-time=2.0
title=Repository Visualization
user-scale=1.50
user-font-size=18
stop-at-time=300
hide=mouse,progress
highlight-users=1
highlight-all-users=1
path=C:\GourceProject\repository
output-framerate=60
caption-file=C:\GourceProject\caption.txt
caption-size=22
logo=<LOGO_PATH>